body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f1f2f6;
    font-family: 'Poppins', sans-serif;
}

.main-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #166bd8;
}

h3 {
    font-size: 30px;
    font-weight: 300;
}

h4 {
    color: #166bd8;
}

.facebook-head {
    padding-left: 100px;
    padding-top: 205px;
}

.main {
    justify-self: center;
    align-self: center;
    background-color: #ffff;
    margin-top: 130px;
    margin-right: 130px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.main>input, h4, a {
    margin-top: 10px;
}

.input {
    width: 420px;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    border: 2px solid #f1f2f6;
    border-radius: 10px;
}

.log-in {
    text-decoration: none;
    color: #f1f2f6;
    font-weight: 700px;
    border: 2px solid #166bd8;
    padding: 15px 185px;
    background-color: #166bd8;
    border-radius: 10px;
    font-size: 20px;
}

.span {
    text-align: center;
}

.new {
    text-decoration: none;
    border: 1px solid #42b72a;
    background-color: #42b72a;
    text-align: center;
    color: #f1f2f6;
    padding: 20px 50px;
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 70px;
    border-radius: 10px;
    font-size: 16px;
}

.footer {
    margin-top: auto;
    text-align: center;
}